@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* Photo by 1905 Travellers on Unsplash 
https://unsplash.com/photos/Y_kNtEogvsM */

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
    /* font-family: 'Josefin Sans'; */
    background: url('1905-travellers-Y_kNtEogvsM-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}
  
#p {
    font-family: 'Josefin Sans'; 
}
span#cities {
    font-family: 'Josefin Sans'; 
    text-shadow: none;
    font-weight: 100;
}
#grid {
    font-family: 'Bitter'; 
    display: grid;
    grid-template-columns: -1fr -1fr;
    /* grid-template-row: 100%; */
}

h1 {
    font-size: 3em;
}

p {
  font-size: 1.3em;
  margin-bottom: 50px;
}

h1, h2 {
    font-family: 'Bitter';
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}
.hover:hover {
  stroke: #646464 !important;
  stroke-width: 7px !important;
  cursor: pointer;
}

div#filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
    position: fixed;
}


#luxembourg {
    position: absolute;
  }

  
#timer, #score {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  padding: 20px;
  border: none;
}

#text{
    text-align: right;
    margin-right:5%;
}

.hidden{
  display: none;
}

.cityColor{
  /* display: none; */
  fill: #C9D4E9;
}

.wrongAnswer{
  stroke: #d6373f ;
  stroke-width: 7px;
}

#flagContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr)); /* see notes below */
  grid-gap: 1em;
  margin-left: 50%;
}

img.districtFlag {
  width: 35%;
  height: auto;
  flex:  1 35%;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  /* #grid {
    display: flex;
    flex-direction: column;
  } */

  img.districtFlag {
    width: 10%;
    height: auto;
    flex:  1 10%;
  }

  .theDuke{
    width: 240px;
  }

  #flagContainer {
    grid-template-columns: 209px 2fr;
  }

  h2{
    margin: 30px 30px;
  }

  #luxembourg {
    right: 200px;
    top: 50px;
  }

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  #luxembourg {
    position: relative;
    right: 20%;
  }
  #grid {
    display: flex;
    flex-direction: column;
  }
  img.districtFlag {
    width: 10%;
    height: auto;
    flex:  1 10%;
  }

  div#flagContainer {
    margin-left: 0;
  }

  img.theDuke{
    position: absolute;
    top: 100px;
    left: 228px;
    width: 50%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    position: absolute;
    top: 0px;
    font-size: 1em;
  } 

  #flagContainer {
    grid-template-columns: 200px 1fr;
  }
}
  
.btn-gradient.mini
{
  padding: 4px 12px;  
  font-size: 12px;
}

.rounded {
  border-radius: 10px;
}

/* Gradient buttons */
.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.btn-gradient.cyan {
  background: rgba(123, 197, 224,1);
  font-family: 'Josefin Sans'; 
}

.btn-gradient.cyan:active	{
  background: #4094b2;
}


  
